<h1> The posts page </h1>

<h2> Let's drink a beer with Krusty </h2>

<img src="https://i.gifer.com/3rCy.gif">
    
    <% posts.forEach(function(post) { %>
        <li>
            <%= posts.title %> - <strong> <%= posts.author %> </strong>
        </li>
    <% }) %>
