body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background: lightseagreen;
    flex-basis: 100px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-basis: 800px;
}

article {
    flex: 4 0 60%;
    flex-basis: 60%;
    background: red;
    flex-grow: 4;
}

nav {
    flex: 1 1 20%;
    background-color: grey;
    order: -1;
}

aside {
    background-color: lightblue;
    flex: 1 1 20%;
}

@media all and (max-width: 640px) {
    main {
        flex-direction: column;
    }

    nav {
        order: 0;
    }

}